[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    st = status
    ci = commit
    co = checkout
    nffmerge = merge --no-ff --no-commit
    ffmerge = merge --ff-only
    llog = log --branches --graph --decorate=full
    llogr = log --branches --graph --decorate=full --remotes
    tags = tag -ln
    br = branch -vv
    brr = branch -avv
    unstage = reset HEAD --
    untrack = rm --cached
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    wtm = show-merges
    wtmr = show-remote-merges
    gcp = gc --aggressive --prune=0
    track = branch --set-upstream
    poh = push origin HEAD
[user]
    name = Marcel Silberhorn
    email = coder@childno.de
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
