[submodule ".shapps/willgit"]
	path = .shapps/willgit
	url = https://github.com/childnode/willgit.git
[submodule ".vim"]
	path = .vim
	url = https://github.com/childnode/.vim.git
[submodule "gists/github/childnode/295dbd6e_hasSize.regex"]
	path = gists/github/childnode/295dbd6e_hasSize.regex
	url = https://gist.github.com/295dbd6e1ce3f90abe4b15cb10366650.git
[submodule "gists/github/childnode/66d4b982_git.rebaseAllBranches"]
	path = gists/github/childnode/66d4b982_git.rebaseAllBranches
	url = https://gist.github.com/66d4b982332824bb8750703aaa1ab0d6.git
[submodule "gists/github/childnode/88304258_git_deleteAllRemoteBranches.sh"]
	path = gists/github/childnode/88304258_git_deleteAllRemoteBranches.sh
	url = https://gist.github.com/883042581fe2b31f208e48dfd4481288.git
[submodule "gists/github/childnode/81ae6468_build_jar_manifest.gradle"]
	path = gists/github/childnode/81ae6468_build_jar_manifest.gradle
	url = https://gist.github.com/81ae646845e1d6e2d9c78d94688de4e6.git
[submodule "gists/github/childnode/6df6d14c_ideaGradleProjectSetupForAdditionalSourceSets"]
	path = gists/github/childnode/6df6d14c_ideaGradleProjectSetupForAdditionalSourceSets
	url = https://gist.github.com/6df6d14c6b3aa47a327bb73ffd731444.git
[submodule "gists/github/childnode/8f100f90_dockerSaveAllImages.sh"]
	path = gists/github/childnode/8f100f90_dockerSaveAllImages.sh
	url = https://gist.github.com/8f100f90b116271761a21979d4905887.git
[submodule "gists/bitbucket/childnode/2015-06-16_G4pLy_prevent-empty-version-comment-in.git"]
	path = gists/bitbucket/childnode/2015-06-16_G4pLy_prevent-empty-version-comment-in.git
	url = https://bitbucket.org/snippets/childnode/G4pLy/prevent-empty-version-comment-in.git
[submodule "gists/bitbucket/childnode/2015-06-21_kyAAM_plasticscm-addcurrentworkdir-batch-task"]
	path = gists/bitbucket/childnode/2015-06-21_kyAAM_plasticscm-addcurrentworkdir-batch-task
	url = https://bitbucket.org/snippets/childnode/kyAAM/plasticscm-addcurrentworkdir-batch-task.git
[submodule "gists/github/childnode/d35cf810dd28775ac5c0e491107215fd"]
	path = gists/github/childnode/d35cf810dd28775ac5c0e491107215fd
	url = https://gist.github.com/d35cf810dd28775ac5c0e491107215fd.git
[submodule "gists/github/childnode/18de20f4448692257aa3e99c8319b70d"]
	path = gists/github/childnode/18de20f4448692257aa3e99c8319b70d
	url = https://gist.github.com/childnode/18de20f4448692257aa3e99c8319b70d
[submodule "gists/github/childnode/eb3199790f2f82785f62c3150f352ede"]
	path = gists/github/childnode/eb3199790f2f82785f62c3150f352ede
	url = https://gist.github.com/eb3199790f2f82785f62c3150f352ede
[submodule "gists/github/childnode/da08e8a6f989ce0f94077ae1a6b1573b"]
	path = gists/github/childnode/da08e8a6f989ce0f94077ae1a6b1573b
	url = https://gist.github.com/da08e8a6f989ce0f94077ae1a6b1573b
[submodule "gists/github/childnode/a175d954_ext.props.gradle_secret"]
	path = gists/github/childnode/a175d954_ext.props.gradle_secret
	url = https://gist.github.com/a175d954962dd675a8cebd25d3e94eb5.git
[submodule "gists/github/childnode/9741c4d1_idea.warnGenerateWorkspace.gradle_secret"]
	path = gists/github/childnode/9741c4d1_idea.warnGenerateWorkspace.gradle_secret
	url = https://gist.github.com/9741c4d1877d7d4284bb8ab49d3886dd.git
[submodule "gists/github/childnode/85958ff8_extendedHelp.gradle_secret"]
	path = gists/github/childnode/85958ff8_extendedHelp.gradle_secret
	url = https://gist.github.com/childnode/85958ff834e2213ec44902c1a38503a4.git
[submodule "gists/github/childnode/e7ef876c_html2ical_secret"]
	path = gists/github/childnode/e7ef876c_html2ical_secret
	url = https://gist.github.com/childnode/e7ef876c26818711eba9889838040406
[submodule "gists/github/childnode/d15cd5e9_atlassian-confluence-config"]
	path = gists/github/childnode/d15cd5e9_atlassian-confluence-config
	url = https://gist.github.com/d15cd5e906a93fc1e11dcbdd55233b75
[submodule "gists/github/childnode/4a0de936_gradle_buildSrc_dogfood"]
        path = gists/github/childnode/4a0de936_gradle_buildSrc_dogfood
        url = https://gist.github.com/4a0de9365d9d26bbe0f33259a589959a
