/*

# typical local config files
yankring_history_*.txt
gradle-app.setting

# backup files
*.old
*.bak

# bash
/.bash_history

# includes
!/.bash_aliases.d/
!/.bash_aliases
!/.bashrc.d/
!/.bashrc
!/.bash_profile
!/.profile
!/.profile.d/
!/.shapps/
!/.sqldeveloper/
!/.ssh/
!/.vim/
!/.vimrc
!/bin/
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.gitconfig
!/.gitignore_global
!/.gemrc
!/.gitk
!/.gitmodules
!/.hgrc
!/.hgignore_global
!/.xchat2
!/gists/
!.iterm2_shell_integration.bash
!/.tmux.conf
