/.Xauthority
/.adobe
/.android
/.bash_aliases.d/work_*
/.bash_history
/.bashrc.d/work_*
/.citrix
/.cpan
/.crash_report*
/.cups/
/.dropbox
/.dvdcss/
/.filezilla/lockfile
/.fontconfig/
/.gtk-bookmarks
/.javafx_eula_accepted
/.keepassx/
/.keystore
/.lesshst
/.m2
/.m2/
/.macports
/.mono/
/.netbeans-registration
/.putty
/.rnd
/.serverauth.*
/.sh_history
/.sqldeveloper/*Log.xml*
/.sqlite_history
/.ssh/id_rsa
/.ssh/id_rsa.ppk
/.ssh/known_hosts
/.token
/.tor
/.vagrant
/.vim/.netrwhist
/.viminfo
/.vpinstall.properties
/.vpsuite_installation.xml
/.wireshark
/.wireshark-etc
/.zs
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Google Drive
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Quarantine/
/Repositories/
/Sites/
/Zend/
/atlassian-jira.log.gz
/bin/mate
/fisheye.logs/
/revolver_login_*
/ownCloud
/vpd.properties
/vpworkspace/
